p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.profile {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 5px;
  max-width: 200px;
}

.user {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  border-bottom: 2px solid black; 
  justify-content: center;
  align-items: center;
}

.user-avatar {
  width: 100px;
}

.status {
  display: flex;
  background-color: gray;
}

.status-folowers {
  display: flex;
  flex-direction: column;
  position: relative;  
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.status-folowers::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  background-color: gray;
  width: 1px;
}

.status-views {
  display: flex; 
  flex-direction: column;
  position: relative;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
}

.status-views::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 1.5px;
  background-color: lightgray;
}

.status-likes {
  display: flex;
  flex-direction: column;
  padding: 5px 0 0 10px;
  justify-content: center;
  align-items: center;
}

.friends-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  padding: 10px;
}

.friends-list-item {

  border: 2px solid black;
  border-radius: 5%;
  padding: 5px;
}

.online {
  color: rgb(35, 107, 35);
}

.offline {
  color: red;
}